*{
	/*background-color:pink;*/
	margin:0;
	padding:0;

}
.cuerpo{
	background-image:url(../fondo1.jpg);
	background-position:top;
}
.lyft{
	margin:auto;
	width:25%;
}
.titulo{
	margin:100px 0;
	color:white;
	text-align:center;
}
button{
	border-radius:3px;
	border:1px solid white;
	height:50px;
	width:130px;
	background:transparent;
}
button a{
	color:white !important;
}
.botones{

	position: absolute;
	bottom:15px;
	text-align:center;
	width:100%;
	
}

/*

@media screen and (max-width:999px) and (min-width:768px){
	button{
	border-radius:3px;
	border:1px solid #CCC;
	color:white;
	width:140px;
	height:50px;
	margin:0 10px!important;
	padding:0 !important;
}
.col-botones{
	margin:570px 0;
}
*/

