
.cuerpo{
	text-align:center;
	margin: 50px auto;
}
p{
	font-weight:bolder;
}
h3{
	font-weight:700 !important;
}
.next{
	width:100%;
	background-color:#ff1dbc;
	border:1px solid #ff1dbc;
	padding:15px;
	bottom:-100px;
	position:relative;
}
.next a{
	color:white;
	font-size:25px;
}
input{
	width:90%;
	border-radius: 3px;
	border:1px solid #CCC;
	padding-left:30px;
}
label{
	position:relative;
	left:25px;
}
